<style>
	#add_to_collection div {
		color: black !important;
	}
</style>
<div id="add_to_collection" role="dialog" tabindex="-1" class="style-scope ytd-popup-container"
	style="outline: none; position: fixed; top: 120px; left: 291.625px; box-sizing: border-box; max-height: 674px; max-width: 907px; z-index: 2202; background-color:#FFF;"
	prevent-autonav="true">
	<!--css-build:shady-->

	<div dialog increased-tap-target class="style-scope ytd-popup-container" tabindex="-1">
		<!--css-build:shady-->

		<div id="header" class="style-scope ytd-add-to-playlist-renderer">
			<div id="title" class="style-scope ytd-add-to-playlist-renderer">儲存至…</div>
		</div>

		<div id="playlists" class="style-scope ytd-add-to-playlist-renderer scrollable">
			<div class="style-scope ytd-add-to-playlist-renderer">
				<!--css-build:shady-->

				<paper-checkbox id="checkbox" class="style-scope ytd-playlist-add-to-option-renderer" role="checkbox"
					tabindex="0" toggles aria-checked="false" aria-disabled="false"
					style="--paper-checkbox-ink-size:54px;">
					<!--css-build:shady-->
					<div id="checkbox-container" class="style-scope ytd-playlist-add-to-option-renderer">
						<div id="checkbox-label" class="style-scope ytd-playlist-add-to-option-renderer">
							<div id="label" class="checkbox-height style-scope ytd-playlist-add-to-option-renderer"
								ellipsis-truncate title="Nightcore Song Original"
								aria-label="Nightcore Song Original 公開">Nightcore Song Original
							</div>
						</div>
					</div>
				</paper-checkbox>
			</div>
		</div>
		<div id="playlists" class="style-scope ytd-add-to-playlist-renderer scrollable">
			<div class="style-scope ytd-add-to-playlist-renderer">
				<!--css-build:shady-->

				<paper-checkbox id="checkbox" class="style-scope ytd-playlist-add-to-option-renderer" role="checkbox"
					tabindex="0" toggles aria-checked="false" aria-disabled="false"
					style="--paper-checkbox-ink-size:54px;">
					<!--css-build:shady-->
					<div id="checkbox-container" class="style-scope ytd-playlist-add-to-option-renderer">
						<div id="checkbox-label" class="style-scope ytd-playlist-add-to-option-renderer">
							<div id="label" class="checkbox-height style-scope ytd-playlist-add-to-option-renderer"
								ellipsis-truncate title="Nightcore Song Original"
								aria-label="Nightcore Song Original 公開">Nightcore Song Original
							</div>
						</div>
					</div>
				</paper-checkbox>
			</div>
		</div>
		<div id="create-playlist-form" class="style-scope ytd-add-to-playlist-renderer">
			<!--css-build:shady-->

			<div class="style-scope ytd-add-to-playlist-create-renderer" compact-link-style>
				<!--css-build:shady-->

				<a id="endpoint" class="yt-simple-endpoint style-scope ytd-compact-link-renderer" tabindex="-1">
					<paper-item role="link" class="style-scope ytd-compact-link-renderer" tabindex="0"
						aria-disabled="false">
						<!--css-build:shady-->
						<div id="label" class="style-scope ytd-compact-link-renderer">建立新的播放清單
						</div>
					</paper-item>
				</a>
			</div>
			<div id="name-input" class="style-scope ytd-add-to-playlist-create-renderer"
				style="padding: 36px 24px 0 24px; display:none">
				<div id="input" always-float-label use-v2-underline
					class="style-scope yt-text-input-form-field-renderer" aria-label tabindex="0" aria-disabled="false">
					<!--css-build:shady-->


					<div id="container" class="style-scope paper-input">

						<div class="input-wrapper style-scope paper-input-container">
							<span class="prefix style-scope paper-input-container"></span>

							<div id="labelAndInputContainer"
								class="input-content label-is-floating style-scope paper-input-container"
								style="position: static;">
								<label aria-hidden="true" slot="label" class="style-scope paper-input" for="input-1"
									id="paper-input-label-1">名稱</label>
								<iron-input slot="input" class="input-element style-scope paper-input" id="input-1"
									maxlength="150">
									<!--css-build:shady-->


									<input class="style-scope paper-input" required="true" autocomplete="off"
										placeholder="輸入播放清單名稱..." autocapitalize="none" autocorrect="off"
										aria-describedby="paper-input-add-on-1 paper-input-add-on-2"
										aria-labelledby="paper-input-label-1" pattern="[^<>]*" maxlength="150">

								</iron-input>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="actions" class="style-scope ytd-add-to-playlist-create-renderer" style="display:none">
				<div class="style-scope ytd-add-to-playlist-create-renderer style-blue-text size-default"
					button-renderer use-keyboard-focused is-paper-button><a
						class="yt-simple-endpoint style-scope ytd-button-renderer" tabindex="-1">
						<paper-button id="ytd-add-to-playlist-create-button"
							class="style-scope ytd-button-renderer style-blue-text size-default" role="button"
							tabindex="0" animated elevation="0" aria-disabled="false" aria-label="建立">
							<div id="text" class="style-scope ytd-button-renderer style-blue-text size-default">建立
							</div>
						</paper-button>
					</a></div>
			</div>
		</div>

	</div>
</div>
No newline at end of file